div#timer-screen {
    text-align: center;
}

p#tn {
    color: white;
    font-size: 42pt;
    margin: auto;
}


button#n, button#del {
    border: none;
    background-color: rgb(20, 22, 29);
    height: 70px;
    width: 75px;
    font-size: 30pt;
    color: antiquewhite;
    border-radius: 100%;
    transition: 50ms ease;
    text-align: center;
}

button#n:active {
    background-color: rgb(44, 50, 66);
}

button#del {
    background-color: rgb(17, 98, 204);
}

button#del:active {
    background-color: rgb(29, 108, 212);
}